* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h1-titulo {
  font-size: 25px;
  margin: 0;
  text-align: center;
  color: white;
  background-color: #112b3c;
}

.portada {
  max-width: 1350px;
  min-height: 600px;
  background-image: url(../img/img-index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.portada div {
  max-width: 1350px;
  min-height: 600px;
  background: -webkit-gradient(linear, left top, right top, from(blue), to(brown));
  background: linear-gradient(90deg, blue, brown);
  opacity: 0.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.portada div h2 {
  color: white;
  font-size: 100px;
}

.portada div p {
  color: white;
  font-size: 40px;
}

.imagenes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  background-color: #fff;
  max-height: 1600px;
  background-color: #FF7700;
}

.imagenes .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  max-height: 800px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
  margin: 15px;
}

.imagenes .card .card-body {
  background-color: #112b3c;
  color: #FF7700;
  border: solid #112b3c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.imagenes .card .card-body .btnprimary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #112b3c;
  background-color: #FF7700;
}

.imagenes .imagenes__lista {
  border: solid black;
  max-width: 400px;
  max-height: 400px;
  margin: 13px;
  -webkit-box-shadow: 0px 1px 10 px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 1px 10 px rgba(0, 0, 0, 0.9);
}

.imagenes .imagenes__lista ul {
  list-style: none;
  max-width: 100%;
  max-width: 400px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 30px;
  line-height: 66px;
}

.imagenes .imagenes__lista ul .uno, .imagenes .imagenes__lista ul .tres, .imagenes .imagenes__lista ul .cinco {
  -webkit-animation-name: li;
          animation-name: li;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.imagenes .imagenes__lista ul .dos, .imagenes .imagenes__lista ul .cuatro, .imagenes .imagenes__lista ul .seis {
  -webkit-animation-name: li-dos;
          animation-name: li-dos;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes li {
  0% {
    background-color: #112b3c;
  }
  25% {
    background-color: #FF7700;
  }
  50% {
    background-color: #112b3c;
  }
  100% {
    background-color: #FF7700;
  }
  from {
    background-color: 0%;
  }
  to {
    background-color: 100%;
  }
}

@keyframes li {
  0% {
    background-color: #112b3c;
  }
  25% {
    background-color: #FF7700;
  }
  50% {
    background-color: #112b3c;
  }
  100% {
    background-color: #FF7700;
  }
  from {
    background-color: 0%;
  }
  to {
    background-color: 100%;
  }
}

@-webkit-keyframes li-dos {
  0% {
    background-color: #FF7700;
  }
  25% {
    background-color: #112b3c;
  }
  50% {
    background-color: #FF7700;
  }
  100% {
    background-color: #112b3c;
  }
  from {
    background-color: 0%;
  }
  to {
    background-color: 100%;
  }
}

@keyframes li-dos {
  0% {
    background-color: #FF7700;
  }
  25% {
    background-color: #112b3c;
  }
  50% {
    background-color: #FF7700;
  }
  100% {
    background-color: #112b3c;
  }
  from {
    background-color: 0%;
  }
  to {
    background-color: 100%;
  }
}

footer {
  max-height: 250px;
  padding: 0;
  margin: 0;
  background-color: #112b3c;
}

footer .ul-footer {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: none;
  list-style: none;
  font-size: 15px;
}

footer .ul-footer .fa-whatsapp, footer .ul-footer .fa-instagram, footer .ul-footer .fa-facebook, footer .ul-footer .fa-envelope {
  color: #FF7700;
  font-size: 25px;
}

.preguntasfrecuentes {
  background-color: #FF7700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.preguntasfrecuentes .notebook, .preguntasfrecuentes .signodeinterrogacion {
  max-height: 800px;
  max-width: 400px;
}

.preguntasfrecuentes .accordion-item .accordion-header {
  background-color: #FF7700;
}

.preguntasfrecuentes .accordion-item .accordion-header .accordion-button {
  background-color: #FF7700;
  font-size: 20px;
}

.preguntasfrecuentes .accordion-item .accordion-collapse .accordion-body {
  background-color: #FF7700;
  color: #112b3c;
  font-size: 15px;
}

.contactos {
  background-size: cover;
  background-image: url(../img/papper.jpg);
}

.contactos .contactos__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contactos .contactos__section .contacto__card {
  background-color: #FF7700;
  border: solid white;
  border-top: #FF7700;
  max-width: 880px;
  max-height: 800px;
  color: white;
}

.contactos .contactos__section .contacto__card-titulo {
  color: white;
  text-align: center;
}

.contactos .contactos__section .contacto__card-info {
  color: #FF7700;
  background-color: #112b3c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactos .contactos__section .contacto__card .contact {
  text-align: center;
  max-width: 400px;
}

.contactos .contactos__section .contacto__card .contact-form p input, .contactos .contactos__section .contacto__card .contact-form p textarea, .contactos .contactos__section .contacto__card .contact-form p button {
  background-color: #fff;
  width: 100%;
}

.contactos .info {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  word-spacing: 6px;
  line-height: 50px;
  max-width: 300px;
}

.contactos .info__lista {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
}

.nosotros__objetivo, .nosotros__nosotros {
  background-color: #FF7700;
  max-width: 100%;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 10%;
  margin: 15px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
}

.nosotros__objetivo .h2__nosotros, .nosotros__nosotros .h2__nosotros {
  font-size: 40px;
  color: #112b3c;
  -webkit-animation: rebote .5s alternate infinite ease-in;
          animation: rebote .5s alternate infinite ease-in;
}

.nosotros__objetivo .p__nosotros, .nosotros__nosotros .p__nosotros {
  color: white;
  font-size: 40px;
}

.nosotros__objetivo .fa-bullseye, .nosotros__objetivo .fa-people-group, .nosotros__nosotros .fa-bullseye, .nosotros__nosotros .fa-people-group {
  color: #112b3c;
  font-size: 40px;
  -webkit-animation: salto .5s alternate infinite ease-in;
          animation: salto .5s alternate infinite ease-in;
}

.nosotros__confianza, .nosotros__mision {
  background-color: #112b3c;
  max-width: 100%;
  max-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border-radius: 10%;
  margin: 15px;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
}

.nosotros__confianza .h2__nosotros, .nosotros__mision .h2__nosotros {
  font-size: 40px;
  color: #FF7700;
  -webkit-animation: rebote .5s alternate infinite ease-in;
          animation: rebote .5s alternate infinite ease-in;
}

.nosotros__confianza .p__nosotros, .nosotros__mision .p__nosotros {
  color: white;
  font-size: 40px;
}

.nosotros__confianza .fa-handshake-simple, .nosotros__confianza .fa-glasses, .nosotros__mision .fa-handshake-simple, .nosotros__mision .fa-glasses {
  color: #FF7700;
  font-size: 40px;
  -webkit-animation: salto .5s alternate infinite ease-in;
          animation: salto .5s alternate infinite ease-in;
}

@-webkit-keyframes rebote {
  0% {
    -webkit-transform: translatex(-0.5%);
            transform: translatex(-0.5%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}

@keyframes rebote {
  0% {
    -webkit-transform: translatex(-0.5%);
            transform: translatex(-0.5%);
  }
  100% {
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
  }
}

@-webkit-keyframes salto {
  0% {
    -webkit-transform: translatey(10%);
            transform: translatey(10%);
  }
  100% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

@keyframes salto {
  0% {
    -webkit-transform: translatey(10%);
            transform: translatey(10%);
  }
  100% {
    -webkit-transform: translatey(0%);
            transform: translatey(0%);
  }
}

.servicios__body {
  width: 1378px;
}

.card__section {
  max-height: 2500px;
  max-width: 1378px;
  padding: 0;
  margin: 0;
  background-color: #FF7700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card__section .card {
  min-width: 300px;
  max-height: 700px;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
}

.card__section .card__top {
  max-height: 400px;
}

.card__section .card__top .card__img {
  max-width: 100%;
  height: 300px;
}

.card__section .card__contenido {
  height: 500px;
  background-color: #112b3c;
  color: white;
  text-align: center;
}

.card__section .card__contenido .card__h2 {
  color: #FF7700;
  font-size: 35px;
}

.card__section .card__contenido .card__p {
  color: white;
  font-size: 30px;
}

.card__section .card:hover {
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
}

.profesionales {
  max-width: 100%;
  background-color: #FF7700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.profesionales h2 {
  text-align: center;
}

.profesionales .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 576px) {
  .body__index {
    max-width: 576px;
  }
  .body__index .portada {
    display: none;
  }
  .body__index .imagenes {
    max-width: 576px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    background-color: #FF7700;
    max-height: 2000px;
  }
  .body__index .imagenes .card {
    max-width: 240px;
    max-height: 400px;
    margin: 10px;
  }
  .body__index .imagenes .card-body .btnprimary {
    font-size: 15px;
  }
  .body__index .imagenes .imagenes__lista {
    max-width: 240px;
    max-height: 400px;
  }
  .body__index .imagenes .imagenes__lista ul {
    font-size: 25px;
    line-height: 62px;
  }
  .nosotros__objetivo .h2__nosotros, .nosotros__objetivo .p__nosotros, .nosotros__objetivo .fa-bullseye, .nosotros__objetivo .fa-people-group, .nosotros__objetivo .fa-handshake-simple, .nosotros__objetivo .fa-glasses, .nosotros__nosotros .h2__nosotros, .nosotros__nosotros .p__nosotros, .nosotros__nosotros .fa-bullseye, .nosotros__nosotros .fa-people-group, .nosotros__nosotros .fa-handshake-simple, .nosotros__nosotros .fa-glasses, .nosotros__confianza .h2__nosotros, .nosotros__confianza .p__nosotros, .nosotros__confianza .fa-bullseye, .nosotros__confianza .fa-people-group, .nosotros__confianza .fa-handshake-simple, .nosotros__confianza .fa-glasses, .nosotros__mision .h2__nosotros, .nosotros__mision .p__nosotros, .nosotros__mision .fa-bullseye, .nosotros__mision .fa-people-group, .nosotros__mision .fa-handshake-simple, .nosotros__mision .fa-glasses {
    font-size: 25px;
  }
  .preguntasfrecuentes {
    background-color: #FF7700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .preguntasfrecuentes .notebook, .preguntasfrecuentes .signodeinterrogacion {
    display: none;
  }
  .preguntasfrecuentes .accordion-item .accordion-header {
    background-color: #FF7700;
  }
  .preguntasfrecuentes .accordion-item .accordion-header .accordion-button {
    background-color: #FF7700;
    font-size: 20px;
  }
  .preguntasfrecuentes .accordion-item .accordion-collapse .accordion-body {
    background-color: #112b3c;
    color: #FF7700;
    font-size: 15px;
  }
  .contactos .info {
    margin: 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 20px;
    line-height: 20px;
  }
  .contactos .info__lista {
    font-size: 25px;
    word-spacing: 5px;
  }
  .card__section {
    padding: 10%;
    max-width: 576px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .card__section .card {
    max-width: 450px;
    max-height: 450px;
  }
  .card__section .card__top {
    width: 450px;
    max-height: 250px;
  }
  .card__section .card__top .card__img {
    width: 450px;
    max-height: 250px;
  }
  .card__section .card__contenido {
    max-height: 250px;
  }
  .profesionales .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .body__index {
    max-width: 992px;
  }
  .body__index .portada {
    max-width: 992px;
    min-height: 500px;
  }
  .body__index .portada .div__portada {
    max-width: 992px;
    min-height: 500px;
  }
  .body__index .imagenes {
    max-width: 992px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    background-color: #FF7700;
    max-height: 2000px;
  }
  .body__index .imagenes .card {
    max-width: 400px;
    max-height: 600px;
    margin: 10px;
  }
  .body__index .imagenes .card-body .btnprimary {
    font-size: 15px;
  }
  .body__index .imagenes .imagenes__lista {
    max-width: 400px;
    max-height: 600px;
  }
  .body__index .imagenes .imagenes__lista ul {
    font-size: 25px;
    line-height: 80px;
  }
  .nosotros__objetivo .h2__nosotros, .nosotros__objetivo .p__nosotros, .nosotros__objetivo .fa-bullseye, .nosotros__objetivo .fa-people-group, .nosotros__objetivo .fa-handshake-simple, .nosotros__objetivo .fa-glasses, .nosotros__nosotros .h2__nosotros, .nosotros__nosotros .p__nosotros, .nosotros__nosotros .fa-bullseye, .nosotros__nosotros .fa-people-group, .nosotros__nosotros .fa-handshake-simple, .nosotros__nosotros .fa-glasses, .nosotros__confianza .h2__nosotros, .nosotros__confianza .p__nosotros, .nosotros__confianza .fa-bullseye, .nosotros__confianza .fa-people-group, .nosotros__confianza .fa-handshake-simple, .nosotros__confianza .fa-glasses, .nosotros__mision .h2__nosotros, .nosotros__mision .p__nosotros, .nosotros__mision .fa-bullseye, .nosotros__mision .fa-people-group, .nosotros__mision .fa-handshake-simple, .nosotros__mision .fa-glasses {
    font-size: 20px;
  }
  .servicios__body {
    max-width: 992px;
  }
  .card__section {
    padding: 5%;
    max-width: 992px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .card__section .card {
    max-width: 400px;
    max-height: 550px;
  }
  .card__section .card__top {
    max-width: 400px;
    max-height: 250px;
  }
  .card__section .card__top .card__img {
    max-width: 400px;
    max-height: 250px;
  }
  .card__section .card__contenido {
    height: 300px;
  }
  .card__section .card__contenido .card__h2, .card__section .card__contenido .card__p {
    font-size: 23px;
  }
  .profesionales .cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
  }
  .profesionales .cards .card-cuatro {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .preguntasfrecuentes {
    background-color: #FF7700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .preguntasfrecuentes .notebook {
    display: none;
  }
  .preguntasfrecuentes .signodeinterrogacion {
    max-height: 1030px;
    max-width: 300px;
  }
  .contactos .info .info__lista li {
    line-height: 10px;
  }
  .contactos .info .info__parrafo, .contactos .info .info__h3 {
    line-height: 15px;
    font-size: 20px;
  }
}

.profesionales .cards .card-uno, .profesionales .cards .card-dos, .profesionales .cards .card-tres, .profesionales .cards .card-cuatro {
  border-radius: 20px;
  margin: 10px;
  border: solid black;
  width: 200px;
  height: 300px;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.9);
}

.profesionales .cards .card-uno .card__img, .profesionales .cards .card-dos .card__img, .profesionales .cards .card-tres .card__img, .profesionales .cards .card-cuatro .card__img {
  margin: 5px;
  width: 180px;
  height: 150px;
  background-size: cover;
  border-radius: 50%;
}

.profesionales .cards .card-uno .card__bot, .profesionales .cards .card-dos .card__bot, .profesionales .cards .card-tres .card__bot, .profesionales .cards .card-cuatro .card__bot {
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  text-align: center;
  height: 135px;
}

.profesionales .cards .card-uno .card__bot h2, .profesionales .cards .card-dos .card__bot h2, .profesionales .cards .card-tres .card__bot h2, .profesionales .cards .card-cuatro .card__bot h2 {
  font-size: 20px;
}

.profesionales .cards .card-uno .card__bot ul, .profesionales .cards .card-dos .card__bot ul, .profesionales .cards .card-tres .card__bot ul, .profesionales .cards .card-cuatro .card__bot ul {
  list-style: none;
  font-size: 15px;
}

.profesionales .cards .card-uno, .profesionales .cards .card-tres {
  background-color: #fff;
}

.profesionales .cards .card-uno .card__img, .profesionales .cards .card-tres .card__img {
  background-image: url(../img/siluetahombre.jpg);
}

.profesionales .cards .card-uno .card__bot, .profesionales .cards .card-tres .card__bot {
  border-top: solid black;
  background-color: #fff;
  color: black;
}

.profesionales .cards .card-dos, .profesionales .cards .card-cuatro {
  border: solid #fff;
  background-color: black;
}

.profesionales .cards .card-dos .card__img, .profesionales .cards .card-cuatro .card__img {
  background-image: url(../img/siluetamujer.jpg);
}

.profesionales .cards .card-dos .card__bot, .profesionales .cards .card-cuatro .card__bot {
  border-top: solid #fff;
  background-color: black;
  color: #fff;
}
/*# sourceMappingURL=estilo.css.map */